.Club-container{
    color: white;
    background-color: #F95700FF;
    width: 20%;
    text-align: center;
    margin: 60px;
    padding: 30px;
    border-radius: 4px;
    border: 1px solid #fff7e5;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}
.Club-container div img{
    height: 250px;
}
.Club-container div h1{
    font-weight: 800;
    font-size: 30px;
}
.Club-container div button{
    color: #231a1a;
    background-color: #fff7e5;
    height: 50px;
    width: 145px;
    font-size: larger;
    border-radius: 10px;
    border: none;
}
@media only screen and (max-width: 800px){
    .Club-container div img{
        height: 150px;
        width: auto;
    }
    .Club-container{
        width: 30%;
        margin: 15px;
    }
}
@media only screen and (max-width: 447px){
    .Club-container{
        width: 50%;
        margin: 15px;
        margin: 40px;
    }
}
@media only screen and (max-width: 257px){
    .Club-container{
        width:60% ;
    }
    .Club-container div h1{
        font-weight: 800;
        font-size: 20px;
    }
    .Club-container div img{
        height: 100px;
    }
    .Club-container div button{
        width: 90%;
    }
  
}